@model IEnumerable<IndiceCuentaViewModel>

@{
    ViewData["Title"] = "Listado de cuentas";

    string formatearBalance(decimal balance)
    {
        return "$"+(balance.ToString("N"));
    }

    string obtenerClaseBalance(decimal balance)
    {
        return balance >= 0 ? "ingresos" : "egresos";
    }
}

<h1>Cuentas</h1>
<h5>
    La cuenta se refiere a los distintos consumos que el usuario puede tener disponible.
    Ejemplos: Tarjeta de crédito, cuenta de sueldo, préstamos, etc.
</h5>

<br />
<!--mb: margin button-->
<a asp-action="Insertar" class="btn btn-primary mb-3">Crear nuevo</a>
<br />

<div class="container-totales mb-3">
   <div>
        <div>
            <b>Ingresos</b>
       </div>
        <div class="ingresos">
            @formatearBalance(@Model.Where(x=>x.balances>0).Sum(x=>x.balances))
       </div>
    </div>

   <div>
        <div>
            <b>Egresos</b>
       </div>
        <div class="egresos">
            @formatearBalance(@Model.Where(x=>x.balances<0).Sum(x=>x.balances))
       </div>
    </div>

   <div>
        <div>
            <b>Total</b>
       </div>
        <div>
            @formatearBalance(@Model.Sum(x=>x.balances))
       </div>
    </div>
</div>

<div class="accordion acordeon-cuentas">
    @foreach(var i in Model)
    {
        <div class="accordion-item">
            
            <h2 class="accordion-header" id="cabeceraUno">
            
                @{
                    var id = i.tipoCuenta.Replace(" ","");
                    var dataBsTarget = "#" + id;
                    var claseTipoCuenta = obtenerClaseBalance(i.balances);

                    <button class="accordion-button" type="button" 
                    data-bs-toggle="collapse" data-bs-target="@dataBsTarget">
                        <span class="me-3">
                            <span><b>@i.tipoCuenta</b></span>
                            <span class="@claseTipoCuenta">@formatearBalance(i.balances)</span>
                        </span>
                    </button>
                }

            </h2>

            <div class="accordion-collapse collapse show" id="@id">
                <div>
                    <ul class="list-group">
                        @foreach (var cuenta in i.cuentas)
                        {
                            var claseCuenta = @obtenerClaseBalance(cuenta.balance);
                            <li class="list-group-item">
                                <span class="nombre-cuenta-span">
                                    <a asp-action="Detalle" asp-route-id="@cuenta.id">@cuenta.nombre</a>
                                    <a class="btn-primary btn" asp-action="Editar" asp-route-id="@cuenta.id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class="btn-danger btn" asp-action="Borrar" asp-route-id="@cuenta.id">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </span>
                                <span class="@claseCuenta">@formatearBalance(cuenta.balance)</span>
                            </li>
                        }
                        </ul>
                </div>
            </div>
        </div>
     }
</div>