@model IEnumerable<IndiceCuentaViewModel>

@{
    ViewData["Title"] = "Listado de cuentas";

    string formatearBalance(decimal balance)
    {
        return "$"+(balance.ToString("N"));
    }

    string obtenerClaseBalance(decimal balance)
    {
        return balance >= 0 ? "ingresos" : "egresos";
    }
}

<h1>Cuentas</h1>
<h5>
    La cuenta se refiere a los distintos consumos que el usuario puede tener disponible.
    Ejemplos: Tarjeta de crédito, cuenta de sueldo, préstamos, etc.
</h5>

<br />
<!--mb: margin button-->
<a asp-action="Insertar" class="btn btn-primary mb-3">Crear nuevo</a>
<br />

<div class="container-totales mb-3">
   <div>
        <div>
            <b>Ingresos</b>
       </div>
        <div class="ingresos">
            @formatearBalance(@Model.Where(x=>x.balances>0).Sum(x=>x.balances))
       </div>
    </div>

   <div>
        <div>
            <b>Egresos</b>
       </div>
        <div class="egresos">
            @formatearBalance(@Model.Where(x=>x.balances<0).Sum(x=>x.balances))
       </div>
    </div>

   <div>
        <div>
            <b>Total</b>
       </div>
        <div>
            @formatearBalance(@Model.Sum(x=>x.balances))
       </div>
    </div>
</div>

<div class="accordion acordeon-cuentas">
    @foreach(var i in Model)
    {
        <div class="accordion-item">
            
            <h2 class="accordion-header" id="cabeceraUno">
            
                @{
                    var id = i.tipoCuenta.Replace(" ","");
                    var dataBsTarget = "#" + id;
                    var claseTipoCuenta = obtenerClaseBalance(i.balances);

                    <button class="accordion-button" type="button" 
                    data-bs-toggle="collapse" data-bs-target="@dataBsTarget">
                        <span class="me-3">
                            <span><b>@i.tipoCuenta</b></span>
                            <span class="@claseTipoCuenta">@formatearBalance(i.balances)</span>
                        </span>
                    </button>
                }

            </h2>

            <div class="accordion-collapse collapse show" id="@id">
                <div>
                    <ul class="list-group">
                        @foreach (var cuenta in i.cuentas)
                        {
                            var claseCuenta = @obtenerClaseBalance(cuenta.balance);
                            <li class="list-group-item">
                                <span class="nombre-cuenta-span">
                                    @cuenta.nombre
                                    <a class="btn-primary btn" asp-action="Editar" asp-route-id="@cuenta.id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                    <a class="btn-danger btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </a>
                                </span>
                                <span class="@claseCuenta">@formatearBalance(cuenta.balance)</span>
                            </li>
                        }
                        </ul>
                </div>
            </div>
        </div>
     }
</div>