@model DateTime

<h4>
    <a asp-route-mes="@ViewBag.mesAnterior" asp-route-anio="@ViewBag.anioAnterior"
       class="btn btn-secondary">
        <i class="bi bi-chevron-left"></i>
    </a>

    @Model.ToString("MMMMMMMMMM") - @Model.Year

    <a asp-route-mes="@ViewBag.mesPosterior" asp-route-anio="@ViewBag.anioPosterior"
       class="btn btn-secondary">
        <i class="bi bi-chevron-right"></i>
    </a>
</h4>
