@using gestorPresupuestos.Models.Submenus
@model gestorPresupuestos.Models.Reportes.ReporteTransaccionesDetalladas

@{
    var resumenMontos = new ResumenMontosViewModel()
    {
        ingresos = Model.balanceIngresos,
        egresos = Model.balanceEgresos,
        total = Model.total
    };
}

<partial name="_NavegacionPorMeses" model="@Model.fechaInicio"/>
<partial name="_ResumenMontos" model="@resumenMontos" />

@if (Model.transaccionesAgrupadas.Count() == 0)
{
    <h5 class="h5-transacciones-grupadas">No hay transacciones para mostrar :(</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach(var transaccionAgrupada in Model.transaccionesAgrupadas)
            {
                <tr class="tabla-tr-detalle">
                    <td colspan="3">@transaccionAgrupada.fechaTransaccion.Day
                        <span class="badge bg-secondary">@transaccionAgrupada.fechaTransaccion.ToString("ddd")</span>
                    </td>
                    <td class="ingresos">@transaccionAgrupada.balanceIngresos.ToString("N")</td>
                    <td class="egresos">@transaccionAgrupada.balanceEgresos.ToString("N")</td>
                </tr>

                @foreach (var transaccion in transaccionAgrupada.Transacciones)
                {
                    //para las transacciones individuales que ocurren dentro de un mismo dia
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="Transaccion" asp-action="Editar" asp-route-id="@transaccion.id" asp-route-urlRegreso="@ViewBag.urlRegreso">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                        </td>

                        <td>@transaccion.categoria</td>
                        <td>@transaccion.cuenta</td>
                        <td class="ingresos">@(transaccion.tipoOperacionId==TipoOperacion.Ingreso ? transaccion.monto.ToString("N") : null)</td>
                        <td class="egresos">@(transaccion.tipoOperacionId==TipoOperacion.Egreso ? transaccion.monto.ToString("N") : null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}