@using gestorPresupuestos.Models.Submenus
@model gestorPresupuestos.Models.Reportes.ReporteTransaccionesDetalladas

@{
    var resumenMontos = new ResumenMontosViewModel()
    {
        ingresos = Model.balanceIngresos,
        egresos = Model.balanceEgresos,
        total = Model.total
    };
}

<partial name="_NavegacionPorMeses" model="@Model.fechaInicio"/>
<partial name="_ResumenMontos" model="@resumenMontos" />

@if (Model.transaccionesAgrupadas.Count() == 0)
{
    <h5 class="h5-transacciones-grupadas">No hay transacciones para mostrar :(</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach(var transaccionAgrupada in Model.transaccionesAgrupadas)
            {
                <tr class="tabla-tr-detalle">
                    <td colspan="3">@transaccionAgrupada.fechaTransaccion.Day
                        <span class="badge bg-secondary">@transaccionAgrupada.fechaTransaccion.ToString("ddd")</span>
                    </td>
                    <td class="ingresos">@transaccionAgrupada.balanceIngresos.ToString("N")</td>
                    <td class="egresos">@transaccionAgrupada.balanceEgresos.ToString("N")</td>
                </tr>

                @foreach (var transaccion in transaccionAgrupada.Transacciones)
                {
                    //para las transacciones individuales que ocurren dentro de un mismo dia
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="Transaccion" asp-action="Editar" asp-route-id="@transaccion.id" asp-route-urlRegreso="@ViewBag.urlRegreso">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>

                        <td>@transaccion.categoria</td>
                        <td>@transaccion.cuenta</td>
                        <td class="ingresos">@(transaccion.tipoOperacionId==TipoOperacion.Ingreso ? transaccion.monto.ToString("N") : null)</td>
                        <td class="egresos">@(transaccion.tipoOperacionId==TipoOperacion.Egreso ? transaccion.monto.ToString("N") : null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}