@using gestorPresupuestos.Models.Submenus
@model SubmenuTransacciones

<ul class=" nav nav-pills nav-fill mb-3">
    <li class = "nav-item">
         <a class="nav-link @(Model == SubmenuTransacciones.Diario?"active":null)" asp-action="Index">Diario</a>
    </li>
    <li class = "nav-item">
         <a class="nav-link @(Model == SubmenuTransacciones.Semanal?"active":null)" asp-action="Semanal">Semanal</a>
    </li>
    <li class = "nav-item">
         <a class="nav-link @(Model == SubmenuTransacciones.Mensual?"active":null)" asp-action="Mensual">Mensual</a>
    </li>
    <li class = "nav-item">
         <a class="nav-link @(Model == SubmenuTransacciones.Excel?"active":null)" asp-action="Excel">
             Exportar a Excel
            <i class="bi bi-file-earmark-spreadsheet"></i>
        </a>
    </li>
    <li class = "nav-item">
         <a class="nav-link @(Model == SubmenuTransacciones.Calendario?"active":null)" asp-action="Calendario">
             Calendario
            <i class="bi bi-calendar-date"></i>
         </a>
    </li>
    <li class = "nav-item">
         <button class="nav-link" onclick="window.print();">
            <i class="bi bi-printer" style="font-size: 21px;"></i>
         </button>
    </li>
</ul>

<div>
    <a asp-action="Insertar" class="btn btn-primary">Crear nuevo</a>
</div>